body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}

.telaLogin {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: blueviolet
    
    
}

.card {
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);   
    
}


.card h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.card p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.card input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 25px;
    transition: all linear 160ms;
    outline: none;
    width: 500px;

}


.card input:focus {
    border: 1px solid blueviolet;
}

.card label {
    font-size: 14px;
    font-weight: 600;
}

.card-footer {

    text-align: center;

}

.card-footer a {

    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
    
}

.card-footer a:hover {
    color: blueviolet;
}
.btn {
   
    width: 44%;
    display: block;
    float:left;
    background-color:white;
    border: none;
    color: black;
    cursor: pointer;
    padding: 20px 40px;
    text-align: center;
    font-size:18px;
    border-radius:25px;
    transition: 0.3s;

}

.btn:hover {
    transform: scale(1.05);
    background-color: blueviolet;
}